p {
    color:red;
    background-color:antiquewhite;
}

h1 {
    color: black;
    background-color:antiquewhite;
}

h2 {
    color: green;
    background-color: antiquewhite;
}

img {
    width: 50%; /* or any other value like 200px */
    height: auto; /* maintains the aspect ratio */
}